# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [ ]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? StoreB
# Which store makes the most sales on average? StoreB
# Which store sells the most during the week of March 13th, 2016? StoreD
# In what week does store C make its worst sales? 2014-07-06

# Which store has the most sales in the latest 3-month period? StoreA
# What is the most consistent store in sales ? StoreB 
# Given the information you gathered, what do you think is the best store financially? StoreB

In [1]:
# import and load the data
import pandas as pd

store = pd.read_csv("store_data.csv")

In [26]:
# explore the data (gather as much information as you can)
#store.head()
store.info()
sum(store.duplicated())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    datetime64[ns]
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 9.5 KB

0

In [12]:
# clean the data
store['week'] = pd.to_datetime(store['week'])

In [59]:
# total sales for the last month
last_month = store[store['week'] >= store['week'].max() - pd.DateOffset(month = 1)]
last_month.iloc[:, 1:].sum()

storeA    25409
storeB    30946
storeC    24206
storeD    28341
storeE     8815
dtype: int64

In [32]:
# average sales
store.iloc[:, 1:].mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [34]:
# sales on march 13, 2016
time = pd.to_datetime('2016-03-13')
sale = store[store['week'] == time]
sale

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13    2054    1390    5112    5513    2536

In [44]:
# worst week for store C
worst = store['storeC'].min()
date = store[store['storeC'] == worst]
date['week']

9   2014-07-06
Name: week, dtype: datetime64[ns]

In [72]:
# total sales during most recent 3 month period
store['week'] = pd.to_datetime(store['week'])

last_months = store[store['week'] >= store['week'].max() - pd.DateOffset(months = 3)]
last_months.iloc[:, 1:].sum()

storeA    94457
storeB    84405
storeC    71939
storeD    79926
storeE    30566
dtype: int64

In [ ]:
# Go back to the top and answer the questions